body {
    background-image: /* filter  */
    linear-gradient(rgba(173, 173, 173, 0.637), rgba(51, 51, 50, 0.5)), url('../img/bg.jpg');
    background-repeat: no-repeat;
    /* Fit the width*/
    background-size: cover;
    /* Always fix the image on screen*/
    background-attachment: fixed;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    font-family: 'Josefin Sans';
    font-weight: 300;
    color: black;
    text-align: center;
}

hr {
    border-top: 1px solid black;
    margin-bottom: 30px;
}

.section-heading h3 {
    font-family: 'Josefin Sans';
    font-weight: 400;
    color: black;
}

.characteristics-text p {
    font-family: 'Cormorant Garamond';
    font-weight: 400;
    padding-left: 1em;
    text-align: center;
}

.image-gallery {
    text-align: center;
}

.image-gallery span {
    display: inline-block;
}

.image-gallery img {
    margin-left: 1.5em;
    margin-right: 1.5em;
    height: 350px;
    border-radius: 4px;
}

.image-gallery p {
    font-family: 'Quicksand';
    color: white;
    text-transform: capitalize;
}

ol {
    font-family: 'Cormorant Garamond';
    font-weight: 400;
    color: black;
}

a {
    text-decoration: underline;
    color: black;
}

a:hover {
    color: rgb(201, 201, 201);
}