body {
    background-image: /* filter  */
    linear-gradient(rgba(173, 173, 173, 0.637), rgba(51, 51, 50, 0.5)), url('../img/bg.jpg');
    background-repeat: no-repeat;
    /* Fit the width*/
    background-size: cover;
    /* Always fix the image on screen*/
    background-attachment: fixed;
}

h1 {
    font-family: 'Josefin Sans';
    font-weight: 300;
    font-size: 2.5em;
    color: black;
    text-align: center;
}

.section-heading h3 {
    font-family: 'Josefin Sans';
    font-weight: 400;
    font-size: 1.5em;
    color: black;
}

.characteristics-text p {
    font-family: 'Cormorant Garamond';
    font-style: italic;
    font-weight: 400;
    font-size: 1.3em;
    padding-left: 1em;
    width: 700px;
    text-align: center;
}

.image-gallery {
    text-align: center;
}

.image-gallery img {
    display: inline-block;
    margin: 1.5em;
    height: 350px;
    width: 350px;
    border-radius: 4px;
}

.member-name {
    /* padding-left: 17px; */
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-top: 6px;
    float: left;
    text-transform: uppercase;
}